:root {
    --bg: #f2f2f2;
    --mainDiv: #fff;
    --color: #2d3737;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --mainDiv: #2d3737;
        --color: #fff;
    }
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
body {
    font-family: verdana;
    font-size: 14px;
    margin: auto;
    min-width: max-content;
    color: var(--color);
    padding: 10px;
    background-color: var(--bg);
    text-align: center;
}
h2 {
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.mainDiv {
    background-color: var(--mainDiv);
    padding: 30px 25px 30px 25px;
}
.content {
    max-width: max-content;
    margin: auto;
}
tr {
    height: 28px;
}
footer {
    display: inline-block;
    font-size: 9px;
    min-width: 300px;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    width: 120px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="text"] {
    width: 80px;
}

input[type="button"],
[type="reset"] {
    margin: 0px 0px 0px 4px;
}
label {
    font-size: 14px;
    color: white;
}
.label {
    background-color: #5b2c92;
}
