:root {
    --bg: #fff;
    --color: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
    }
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: auto;
    min-width: max-content;
    padding: 20px;
    font-family: verdana;
    font-size: 14px;
    color: var(--color);
    background-color: var(--bg);
    text-align: center;
}
h2 {
    text-align: center;
    padding: 0px 0px 10px 0px;
}
label {
    font-size: 14px;
    color: white;
}
.label {
    background-color: #5b2c92;
}
input[type="number"] {
    width: 120px;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="text"] {
    width: 84px;
}

input[type="button"],
[type="reset"] {
    margin: 0px 0px 0px 4px;
}
footer {
    display: inline-block;
    font-size: 9px;
    min-width: 300px;
}
